.wrapper{
    padding: 10px 15px;
    background-color: var(--gray-300);
}
.wrap{
    padding: 10px 15px;
    margin-left: 33px;
}
.LineContent{
    font-family: Inter, sans-serif; 
    font-size: 16px;
    font-weight: 400;
    color: var(--gray-900);
    font-size: 20px;
    font-weight: 700;
    margin-top: 62px;
    margin-left: 350px;
    display: flex;
    
    
    
}
.LineContentF{
    /* margin-left: 100px; */
    font-weight: 400;
    color: var(--gray-500);
    font-size: 21px;
    margin-left: 34px;
}

.LineContentLic{
    font-family: Inter, sans-serif; 
    font-size: 16px;
    font-weight: 400;
    color: var(--gray-900);
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 350px;
    display: flex;
}
.LineContentNL{
    font-weight: 400;
    color: var(--gray-500);
    font-size: 21px;
    margin-left: 45px;
}
.LineContentProt{
    font-family: Inter, sans-serif; 
    font-size: 16px;
    font-weight: 400;
    color: var(--gray-900);
    font-size: 20px;
    font-weight: 700;
    margin-top: 41px;
    margin-left: 350px;
   
    
}
.LineContentPr{
    font-weight: 400;
    color: var(--gray-500);
    font-size: 21px;
    margin-left: 17px;
    margin-top: 12px;
    
    
}

.LineContentSetIn{
    font-family: Inter, sans-serif; 
    font-size: 16px;
    font-weight: 400;
    color: var(--gray-900);
    font-size: 20px;
    font-weight: 700;
    margin-top: 27px;
    margin-left: 350px;
    display: flex;
}

