.LineContent{
    font-family: Inter, sans-serif;    
    font-weight: 400;
    color: var(--gray-900);
    font-size: 20px;
    font-weight: 700;  
    display: flex; 
    margin-top: 56px;  
}

.LineContentF{
    
    font-weight: 400;
    color: var(--gray-500);
    font-size: 21px;
    margin-left: 34px;
}

.LineContentLic{
    font-family: Inter, sans-serif;     
    font-weight: 400;
    color: var(--gray-900);
    font-size: 20px;
    font-weight: 700;
    margin-top: 27px;    
    display: flex;
}
.LineContentNL{
    font-weight: 400;
    color: var(--gray-500);
    font-size: 21px;
    margin-left: 45px;
}
.LineContentProt{
    font-family: Inter, sans-serif;    
    font-weight: 400;
    color: var(--gray-900);
    font-size: 20px;
    font-weight: 700;
    margin-top: 34px;
   
   
    
}
.LineContentMEK{
    font-family: Inter, sans-serif; 
    font-weight: 400;
    color: var(--gray-500);
    font-size: 21px;
    margin-left: 17px;
    margin-top: 16px;   
}
.LineContentOPC{
    font-family: Inter, sans-serif; 
    font-weight: 400;
    color: var(--gray-500);
    font-size: 21px;
    margin-left: 17px;
    margin-top: 12px;

}

.LineContentSetIn{
    font-family: Inter, sans-serif;
    font-weight: 400;
    color: var(--gray-900);
    font-size: 20px;
    font-weight: 700;
    margin-top: 27px;
    display: flex;
}

