.dropDown{
    display: flex;
    align-items: center;
    position: relative;
    padding: 6px 15px;
    border: 1px solid var(--gray-400);
    border-radius: 5px;
}

.availableOptions{
    width: 200px;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 3;
    padding: 4px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    list-style: none;
    border-radius: 10px;
}

.availableOptionsHidden{
    display: none;
}

.listElement{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 7px;
}

.listElement:hover{
    cursor: pointer;
    background-color: var(--gray-200);
}

.listElement:not(:last-child){
    margin-bottom: 5px;
}

.listElementActive::before{
    content: '';
    display: block;
    width: 6px;
    height: 38px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: var(--blue);

}

.listElement.listElementActive{
    background-color: var(--gray-300);
}

.listContent{
    padding: 10px 15px 10px 8px;
}

.arrowActive{
    transform: rotate(180deg);
}