@import "../../scss/colors";

.wrapper{
    max-width: 760px;
    padding: 40px 20px 20px;
    position: relative;
    border: 1px solid $gray-400; 
    border-radius: 20px;
}

.wrapper > h3{
    position: absolute;
    top: -16px;
    left: 30px;
    padding: 0 10px;
    background-color: #fff;
}

.wrapper > *:not(:last-child) {
    margin-bottom: 30px;
}

h3 + button[class~="btn-round"]{
    position: absolute;
    top: -16px;
    right: -16px;
}

.url1_ckeckbox{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 40px;

    box-sizing: border-box;
    border: 1px solid $gray-500;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}