@import "../../scss/shared/common-defenition";

.dashboardPage{
    margin: 30px 0;
    height: calc(100vh - $header-summary-height - 60px);
    overflow-y: scroll;
}

.tableWrapper{
    max-width: 600px;
}

.protocolsList{
    padding-left: 20px;
    margin-top: 20px;
    list-style: none;
}

.protocolsList > li{
    margin-top: 10px;
}

.protocolsList a{
    color: black;
    text-decoration: none;
}