@import '../../scss/colors';

.navigationList{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
};


.navigationList  li{
    padding: 15px 15px;
};

.navigationList  li:hover{
    background-color: $gray-200;
}

a:first-child{
    margin-bottom: 20px;
}

a:hover{
    color: $blueberry;
};