th,td{
    font-size: 21px;
    font-weight: 400;
    padding-right: 18px;
    padding-bottom: 12px;
    font-family: Inter, sans-serif; 
}
table{
    counter-reset: bubu;
    padding-top: 16px;
    padding-left: 17px;
}
/* td:nth-child(1){
    counter-increment: bubu;
}
td:nth-child(1)::before{
    content: counter(bubu) '.';
} */
.numberStr{
    color: rgb(13, 110, 253);
}
.numberIP{
    color: rgb(108, 117, 125);
}
.numberMAC{
    padding-right: 36px;
    color: rgb(108, 117, 125);
}
