@import '../../scss/colors';
@import '../../scss/shared/common-defenition';

.header{
    height: $header-summary-height;    
    position: relative;
}

.upLine{
    width: 100vw;
    height: $header-upline-height;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $green;
}

.middleLine{
    width: 100vw;
    height: $header-body-height;
    background-color: $gray-300;
    position: fixed;
    top: $header-upline-height;
    left: 0;
}

.upLine > h6{
    width: 100%;
    height: $header-upline-height;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
}

.middleLine > h4{
    width: 100%;
    height: $header-body-height;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-wrap: nowrap;
}