.form{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    position: relative;
    overflow-y: auto;
    /* max-height: calc(100vh - 300px); */
}
.labelDevice{
    margin-left: 70px;
}

.textarea{
    margin-left: 180px;
    width: 400px;
}
.ipv4{
    margin-left: 55px;
}
.ipv4netmask{
    margin-left: 65px;
}
.ipv4gateway{
    margin-left: 70px;
}
.ipv4broadcast{
    margin-left: 15px;
}

.device{
    margin-left: 139px;
    cursor: pointer;
}
.address{
    cursor: pointer;
}
/* ------------------------------ */

th,td{
    font-size: 21px;
    font-weight: 400;
    padding-right: 18px;
    padding-bottom: 12px;
    font-family: Inter, sans-serif; 
}
table{
    /* counter-reset: bubu; */
    position: relative;
    padding-top: 16px;
    padding-left: 17px;
}
/* td:nth-child(1){
    counter-increment: bubu;
}
td:nth-child(1)::before{
    content: counter(bubu) '.';
} */
.numberStr{
    color: rgb(10, 11, 12);
    font-weight: 500;
}
.numberIP{
    color: rgb(108, 117, 125);
}
.tabel{
    margin-left: 0px;
    bottom: 0px;
   
}

.card{
    margin-left: 245px;
    bottom: 20px;
    width: 350px; 
    border: 2px solid #adb5bd; 
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    transition: 0.2s;
    position: relative;
    
   
}
.restart{
    position: absolute;
    top: 90px;
    left: 575px;
    z-index: 5;
   
    
    /* border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-color: red;
    margin-left: 400px; */

}
