<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">
   
    <title>dd-conf</title>
</head>
<body>
  <div class="sticky-top">
    <nav class="navbar" style="height: 40px; background-color: rgb(40, 167, 69);">
        <div class="container">
            
            <span class=" text-white" style="width: 106px; height: 28px; font-size: 23px; font-weight: 700;"></span>
            <p class="text-end text-white" style=" width: 107px; height: 15px; font-size: 12px; font-weight: 700; margin-bottom:5px;">ДД Конфигуратор</p>

            
        </div>
    </nav>
      <div class="dash">
        <ul class="list-group list-group-horizontal grop">
            <!-- ...............Кнопка "бургер"..................... -->
            <div class="burger" style=" margin-left: 0px;margin-right: 40px;">
                <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop">
                  <img src="{{url_for('static', path='/imag/burger.png')}}" alt="" style="width: 32px; height:32px; left: 15%;">
                </button>

                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
                    <div class="offcanvas-header">
                      <h5 class="offcanvas-title" id="offcanvasWithBackdropLabel">ДД Конфигуратор</h5>
                      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body" style=" width: 150px;height: 251px;padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px;margin-left: 140px; margin-top: 141px;">
                        <p><a class="link-offset-2 link-underline link-underline-opacity-0" href="#">МЭК 104</a></p>
                        <p><a class="link-offset-2 link-underline link-underline-opacity-0" href="#" style="width: 150px; height: 32px;">OPC UA</a></p>
                        <p style=" margin-top: 133px;"><a class="link-offset-2 link-underline link-underline-opacity-0" href="#" style="width: 150px; height: 32px;">Настройки</a></p>
                    </div>
                  </div>
            </div>

            <div style="width: 400px; height: 49px; font-size: 40px; font-weight: 700; color: rgb(52, 58, 64) ;">Протокол МЭК 104</div>
            
          </ul>
      </div>
    </div>




    <!-- {% for i in list1 %}
  
  {% if i["status"] %}
    <div> {{ i["main"] }} </div>
  {% endif %}
  
{% endfor %} -->


     
        
        

<div class="container" style="max-width: 2048px;">
  <div class="row">
    <div class="col">
      <ul class="list-group list-group-horizontal" style="margin-top: 59px; margin-left: 95px; width: 840px; height: 38px;">
        <div style="width: 185px; height: 24px; font-size: 20px; font-weight: 700; margin-right: 29px;">Рабочий профиль:</div>
        
        <div style="width: 208px; height: 24px; font-size: 21px; font-weight: 400; color: rgb(108, 117, 125);">{{get_active_ld()}}</div>
       
        <div>
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-left: 313px; background:rgb(40, 167, 69); width: 105px; height: 38px;">Профиль</button> 
        
        </div>        
      </ul>

      
<!-- </div> -->




      <div style="width: 865px; height: 288px;  margin-left: 95px; margin-top:42px; overflow: auto;">
        <table class="table caption-top">
          
            <thead>
              <tr>
                <th scope="col">Процесс</th>
                <th scope="col">Основной (IP:PORT)</th>
                <th scope="col">Резервный (IP:PORT)</th>
                <th scope="col">Состояние</th>
                <th scope="col">Действия</th>
              </tr>
            </thead>
            
          
            <tbody>
            
            
            

          

              <tr style="height: 48px;">
            

              <tr style="background: rgb(242, 242, 242);height: 48px;">
        
              
              <th scope="row" style="padding-left: 40px; padding-top: 15px;"></th>         
               

                
              <td style="padding-top: 15px;"></td>
                

           
                <td style="color: rgb(196, 196, 196);padding-top: 15px;"> нет резерва</td>
            
                <td style="color: rgb(14, 13, 13);padding-top: 15px;"></td>
          


              <td>
             
                  <span id="play1" style="bottom: 5px; width: 109px; height: 24px;  color:rgb(19, 121, 91); font-size: 16px; font-weight: 400; position: relative;">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="margin-top:12px;width: 109px; height: 24px;">
                      <div style="width: 8px; height: 8px; border-radius: 100%;background:#13795b; margin-top: 9px;"></div>
                      <div style="margin-top: 0px;margin-left: 8px;">запущен</div>
                      </div> 
                  </span>

                <!-- <span id="STP1" style="bottom: 5px; width: 109px; height: 24px; padding-top: 9px; color:rgb(253, 126, 20); font-size: 16px; font-weight: 400; position: relative;"></span>
                <span id="RES1" style="bottom: 5px; width: 109px; height: 24px; padding-top: 9px; color:rgb(10, 162, 192); font-size: 16px; font-weight: 400; position: relative;"></span> -->

               
                  <span id="STP1" style="bottom: 5px; width: 109px; height: 24px; padding-top: 9px; color:rgb(253, 126, 20); font-size: 16px; font-weight: 400; position: relative;">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="margin-top:12px;width: 109px; height: 24px;">
                      <div style="width: 8px; height: 8px; border-radius: 100%;background:rgb(253, 126, 20); margin-top: 9px;"></div>
                      <div style="margin-top: 0px;margin-left: 8px;">остановлен</div>
                      </div>  
                    </span>

                
                  
               
                  <span id="RES1" style="bottom: 5px; width: 109px; height: 24px; padding-top: 9px; color:rgb(10, 162, 192); font-size: 16px; font-weight: 400; position: relative;">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="margin-top:12px;width: 109px; height: 24px;">
                      <div style="width: 8px; height: 8px; border-radius: 100%;background:rgb(10, 162, 192); margin-top: 9px;"></div>
                      <div style="margin-top: 0px;margin-left: 8px;">запускается</div>
                      </div> 
                  </span>
               
                

            
                  <span  style="bottom: 5px; width: 109px; height: 24px; padding-top: 9px; color:rgb(244, 13, 13); font-size: 16px; font-weight: 400; position: relative;">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="margin-top:12px;width: 109px; height: 24px;">
                      <div style="width: 8px; height: 8px; border-radius: 100%;background:rgb(244, 13, 13); margin-top: 9px;"></div>
                      <div style="margin-top: 0px;margin-left: 8px;">failed</div>
                      </div> 
                  </span>
            

                  <span id="STP1" style="bottom: 5px; width: 109px; height: 24px; padding-top: 9px; color:rgb(253, 126, 20); font-size: 16px; font-weight: 400; position: relative;"></span>
                  
                  <span id="RES1" style="bottom: 5px; width: 109px; height: 24px; padding-top: 9px; color:rgb(10, 162, 192); font-size: 16px; font-weight: 400; position: relative;"></span>
               


              </td>

            
              
             

            
              
                <!-- <td>
             
                    
                  <span id="play1" style="bottom: 5px; width: 109px; height: 24px;  color:rgb(19, 121, 91); font-size: 16px; font-weight: 400; position: relative;">
                    <div style="margin-top: 0px;margin-left: 8px;">запущен</div>
                  </span>
                  
                         
                  <span id="STP1" style="bottom: 5px; width: 109px; height: 24px; padding-top: 9px; color:rgb(253, 126, 20); font-size: 16px; font-weight: 400; position: relative;">
                    <div style="margin-top: 0px;margin-left: 8px;">остановлен</div></span>
                  
                  <span id="RES1" style="bottom: 5px; width: 109px; height: 24px; padding-top: 9px; color:rgb(10, 162, 192); font-size: 16px; font-weight: 400; position: relative;"></span>
               
                
                </td> -->
             

                <td style="width: 117px; height: 24px;">
                  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="width: 117px; height: 24px; padding-top: 9px;" >
                   
                      <div type="button" id="str1" onclick="start1()"  style="width: 24px; height: 24px;">
                      <img src="{{url_for('static', path='/imag/play.svg')}}"  alt="" style="width: 24px; height: 24px;">
                      </div>
                      <div type="button" onclick="stop1()"  style="width: 24px; height: 24px;">
                        <img src="{{url_for('static', path='/imag/stop.svg')}}" alt="" style="width: 24px; height: 24px;">
                      </div>
                      <div type="button" onclick="restart1()" style="width: 24px; height: 24px;">
                      <img src="{{url_for('static', path='/imag/arrow-counterclockwise.svg')}}" alt="" style="width: 24px; height: 24px;">
                      </div>
                      <div type="button" onclick="zmet1()" style="width: 24px; height: 24px;">
                      <img src="{{url_for('static', path='/imag/file-earmark.svg')}}" onclick='this.src="{{url_for('static', path='/imag/file-earmark_G.svg')}}"' alt="" style="width: 24px; height: 24px;">
                      </div>               

                  </div>
                </td>
              </tr>
              </tr>
             
             
       
         
        
<!-- ///////////////////////////////  2 строка ////////////////////////////////////////// -->
              <!-- <tr style="background: rgb(242, 242, 242); height: 48px;">
                <th scope="row"  style="padding-left: 40px; padding-top: 15px;">2</th>
                <td style="padding-top: 15px;">10.30.44.15:23678 </td>
                <td style="color: rgb(196, 196, 196); padding-top: 15px;">нет резерва</td>
                <td>
                  <span id="play2" style="bottom: 5px; width: 109px; height: 24px;  color:rgb(19, 121, 91); font-size: 16px; font-weight: 400; position: relative;"></span>        
                  <span id="STP2" style="bottom: 5px; width: 109px; height: 24px; padding-top: 9px; color:rgb(253, 126, 20); font-size: 16px; font-weight: 400; position: relative;"></span>
                  <span id="RES2" style="bottom: 5px; width: 109px; height: 24px; padding-top: 9px; color:rgb(10, 162, 192); font-size: 16px; font-weight: 400; position: relative;"></span>
                </td>
                <td style="width: 117px; height: 24px;">
                  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="width: 117px; height: 24px; padding-top: 9px;" >
                   
                    <div type="button" onclick="start2()"  style="width: 24px; height: 24px;">
                      <img src="{{url_for('static', path='/imag/play.svg')}}"  alt="" style="width: 24px; height: 24px;">
                    </div>
                    <div type="button" onclick="stop2()"  style="width: 24px; height: 24px;">
                      <img src="{{url_for('static', path='/imag/stop.svg')}}" alt="" style="width: 24px; height: 24px;">
                    </div>
                    <div type="button" onclick="restart2()" style="width: 24px; height: 24px;">
                      <img src="{{url_for('static', path='/imag/arrow-counterclockwise.svg')}}" alt="" style="width: 24px; height: 24px;">
                    </div>
                    <div type="button" style="width: 24px; height: 24px;">
                      <img src="{{url_for('static', path='/imag/file-earmark.svg')}}" alt="" style="width: 24px; height: 24px;">
                    </div>               

                </div>
                
                </td>
              </tr> -->

<!-- ///////////////////////////////  3 строка /////////////////////////////////////////// -->
<!-- <tr style=" height: 48px;">
  <th scope="row"  style="padding-left: 40px; padding-top: 15px;">3</th>
  <td style="padding-top: 15px;">10.30.44.15:23678</td>
  <td style=" padding-top: 15px;">10.30.44.15:23678</td>
  <td>
    <span id="play3" style="bottom: 5px; width: 109px; height: 24px;  color:rgb(19, 121, 91); font-size: 16px; font-weight: 400; position: relative;"></span>        
    <span id="STP3" style="bottom: 5px; width: 109px; height: 24px; padding-top: 9px; color:rgb(253, 126, 20); font-size: 16px; font-weight: 400; position: relative;"></span>
    <span id="RES3" style="bottom: 5px; width: 109px; height: 24px; padding-top: 9px; color:rgb(10, 162, 192); font-size: 16px; font-weight: 400; position: relative;"></span>
  </td>
  <td style="width: 117px; height: 24px;">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="width: 117px; height: 24px; padding-top: 9px;" >
     
      <div type="button" onclick="start3()"  style="width: 24px; height: 24px;">
        <img src="{{url_for('static', path='/imag/play.svg')}}"  alt="" style="width: 24px; height: 24px;">
      </div>
      <div type="button" onclick="stop3()"  style="width: 24px; height: 24px;">
        <img src="{{url_for('static', path='/imag/stop.svg')}}" alt="" style="width: 24px; height: 24px;">
      </div>
      <div type="button" onclick="restart3()" style="width: 24px; height: 24px;">
        <img src="{{url_for('static', path='/imag/arrow-counterclockwise.svg')}}" alt="" style="width: 24px; height: 24px;">
      </div>
      <div type="button" style="width: 24px; height: 24px;">
        <img src="{{url_for('static', path='/imag/file-earmark.svg')}}" alt="" style="width: 24px; height: 24px;">
      </div>               

  </div>
  
  </td>
</tr> -->

<!-- //////////////////////////////// 4 строка /////////////////////////////////////////////  -->
<!-- <tr style="background: rgb(242, 242, 242); height: 48px;">
  <th scope="row"  style="padding-left: 40px; padding-top: 15px;">4</th>
  <td style="padding-top: 15px;">10.30.44.15:23678</td>
  <td style=" padding-top: 15px;">10.30.44.15:23678</td>
  <td>
    <span id="play4" style="bottom: 5px; width: 109px; height: 24px;  color:rgb(19, 121, 91); font-size: 16px; font-weight: 400; position: relative;"></span>        
    <span id="STP4" style="bottom: 5px; width: 109px; height: 24px; padding-top: 9px; color:rgb(253, 126, 20); font-size: 16px; font-weight: 400; position: relative;"></span>
    <span id="RES4" style="bottom: 5px; width: 109px; height: 24px; padding-top: 9px; color:rgb(10, 162, 192); font-size: 16px; font-weight: 400; position: relative;"></span>
  </td>
  <td style="width: 117px; height: 24px;">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="width: 117px; height: 24px; padding-top: 9px;" >
     
      <div type="button" onclick="start4()"  style="width: 24px; height: 24px;">
        <img src="{{url_for('static', path='/imag/play.svg')}}"  alt="" style="width: 24px; height: 24px;">
      </div>
      <div type="button" onclick="stop4()"  style="width: 24px; height: 24px;">
        <img src="{{url_for('static', path='/imag/stop.svg')}}" alt="" style="width: 24px; height: 24px;">
      </div>
      <div type="button" onclick="restart4()" style="width: 24px; height: 24px;">
        <img src="{{url_for('static', path='/imag/arrow-counterclockwise.svg')}}" alt="" style="width: 24px; height: 24px;">
      </div>
      <div type="button" style="width: 24px; height: 24px;">
        <img src="{{url_for('static', path='/imag/file-earmark.svg')}}" alt="" style="width: 24px; height: 24px;">
      </div>               

  </div>
  
  </td>
</tr> -->

       

<!-- ////////////////////////////// 5 строка //////////////////////////////////////////////////// -->

<!-- <tr style=" height: 48px;">
  <th scope="row"  style="padding-left: 40px; padding-top: 15px;">5</th>
  <td style="padding-top: 15px;">10.30.44.15:23678</td>
  <td style=" padding-top: 15px;">10.30.44.15:23678</td>
  <td>
    <span id="play5" style="bottom: 5px; width: 109px; height: 24px;  color:rgb(19, 121, 91); font-size: 16px; font-weight: 400; position: relative;"></span>        
    <span id="STP5" style="bottom: 5px; width: 109px; height: 24px; padding-top: 9px; color:rgb(253, 126, 20); font-size: 16px; font-weight: 400; position: relative;"></span>
    <span id="RES5" style="bottom: 5px; width: 109px; height: 24px; padding-top: 9px; color:rgb(10, 162, 192); font-size: 16px; font-weight: 400; position: relative;"></span>
  </td>
  <td style="width: 117px; height: 24px;">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="width: 117px; height: 24px; padding-top: 9px;" >
     
      <div type="button" onclick="start5()"  style="width: 24px; height: 24px;">
        <img src="{{url_for('static', path='/imag/play.svg')}}"  alt="" style="width: 24px; height: 24px;">
      </div>
      <div type="button" onclick="stop5()"  style="width: 24px; height: 24px;">
        <img src="{{url_for('static', path='/imag/stop.svg')}}" alt="" style="width: 24px; height: 24px;">
      </div>
      <div type="button" onclick="restart5()" style="width: 24px; height: 24px;">
        <img src="{{url_for('static', path='/imag/arrow-counterclockwise.svg')}}" alt="" style="width: 24px; height: 24px;">
      </div>
      <div type="button" style="width: 24px; height: 24px;">
        <img src="{{url_for('static', path='/imag/file-earmark.svg')}}" alt="" style="width: 24px; height: 24px;">
      </div>               

  </div>
  
  </td>
</tr> -->
</tbody>


</table>
  
      </div>      

      <!-- //////////////////////////////// Кнопки //////////////////////////////////////////// -->
      <div>
        <button type="button" onclick="onmore()" class="btn btn-primary" style="margin-left: 95px; background:rgb(13, 110, 253); width: 147px; height: 38px; margin-top: 33px;">Запустить все</button>
        <button type="button" onclick="offmore()" class="btn btn-primary" style="margin-left: 39px; background:rgb(13, 110, 253); width: 159px; height: 38px; margin-top: 33px;">Остановить все</button>
        <button type="button" onclick="openlog()" class="btn btn-secondary btnlog" style="margin-left: 362px; background:rgb(144, 19, 254); width: 131px; height: 38px; margin-top: 33px;">Открыть log</button>
      </div> 

      <div id="log"></div>
    </div>

      <!-- ////////////////////   Заметки 1 строка    ///////////////////////// -->
      <div class="col">
        <div id="met1"></div>
      </div>  
</div>
      
    <!--//////////////////////////// model-content ///////////////////////////  -->
    <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="width: 981px; height: 556px; right: 240px; top: 10px; border-radius: 12px;">
        <div class="modal-header" style="height: 51px;">
          <h5 class="modal-title" id="exampleModalLabel" style="font-size: 16px; font-weight: 600;line-height: 19px;">Редактор профелей</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="width: 16px; height: 16px;">
          <!-- <img src="imag/x.svg" alt=""> -->
          </button>
        </div>
        <div class="modal-body">
          <ul class="list-group list-group-horizontal" style="width: 935px; height: 54px; left: 16px;">
            <select class="form-select" aria-label="Default select example" style="width: 829px; height: 38px;">
              <option selected>Выберите профиль</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            
            <div>
                <button type="button" class="btn btn-success" style=" background:rgb(40, 167, 69); width: 90px; height: 38px; margin-left: 16px;">Новый</button> 
            
            </div>        
          </ul>

        <div class="list-group list-group-horizontal" style="width: 859px; height: 288px; margin-top: 15px; margin-left:32px;">
          <div style="width: 659px; height: 288px; overflow:auto;">
            <table class="table caption-top">
              
                <thead>
                  <tr>
                    <th scope="col">Процесс</th>
                    <th scope="col">Основной (IP:PORT)</th>
                    <th scope="col">Резервный (IP:PORT)</th>
                    <!-- <th scope="col">Состояние</th> -->
                    <th scope="col">Действия</th>
                  </tr>
                </thead>
                <tbody id="newcol">
                  
                  <tr id="roww"  style="height: 48px;">
                    
                   
                    

                    <!-- background: rgb(242, 242, 242) -->
                    
                   


                    <th scope="row" style="padding-left: 40px; padding-top: 15px;"></th>         
                
                    <td style="padding-top: 15px;">10.30.44.15:23678 </td>
                    <td style="color: rgb(196, 196, 196);padding-top: 15px;">нет резерва</td>
    
                       
                    <td style="width: 117px; height: 24px;">
                      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="width: 117px; height: 24px; padding-top: 9px;" >
                       
                        
                          <div type="button" onclick="closerow()" style="width: 24px; height: 24px;">
                          <img src="{{url_for('static', path='/imag/trash2.svg')}}" alt="" style="width: 24px; height: 24px;">
                          </div>
                          <div type="button" onclick="zmet11()" style="width: 24px; height: 24px;">
                          <img src="{{url_for('static', path='/imag/file-earmark.svg')}}" onclick='this.src="imag/file-earmark_G.svg"' alt="" style="width: 24px; height: 24px;">
                          </div>           
                          </div>
                    </td>
                  </tr> 
                  
                          
                  </tbody>
            </table>

            
          </div>
          <div class="col-1" style="height: 180px;">
            <div id="met11"></div>         
                  
          </div>
          <button type="button" onclick="addstok()" class="btn btn-success" style=" background:rgb(40, 167, 69); width: 181px; height: 38px; margin-left: 6px; margin-top: 240px; border-radius: 6px;">Добавить процесс</button> 

          <!-- <div class="col-1"> -->
          <!-- <button type="button" onclick="addstok()" class="btn btn-success" style=" background:rgb(40, 167, 69); width: 181px; height: 38px; margin-left: 6px; margin-top: 250px; border-radius: 6px;">Добавить процесс</button>  -->
          <!-- </div> -->
        </div>
        
        
        
       
        </div>
        <div class="modal-footer" style="height: 72px;">
          <button type="button" class="btn btn-danger" style="width: 150px; height: 40px;background-color: rgb(220, 53, 69) ; color: #fff;">Применить</button>
          <button type="button" class="btn custom-btn" style="width: 99px; height: 40px;background-color: rgb(119, 73, 248); color: #fff;">Удалить</button>
          <button type="button" class="btn custom-btn" style="width: 119px; height: 40px;background-color: rgb(119, 73, 248); color: #fff;">Сохранить</button>
          <button type="button" class="btn custom-btn" style="width: 150px; height: 40px;background-color: rgb(119, 73, 248); color: #fff;">Сохранить как</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="width: 112px; height: 40px;">Отмена</button>
          
        </div>
      </div>
    </div>
  </div>



   

      
 <!-- <table>
  <tr>
    <th>dog name</th>
    <th>dog type</th>
  </tr>
  {% for dog in dogs %}
  <tr>
    <td>
      {{dog.name}}
    </td>
    <td>
      {{dog.type}}
    </td>
  </tr>
  {% endfor %}


 </table> -->
 <h1>users</h1>
 <ul></ul>

 
 <script>
  fetch('http://127.0.0.1:8000/dd104')
  .then(res =>{
      return res.json();
  })
  .then(data => {
     data.forEach(user => {
      const aaa = `<li>${user.name}</li>`;
      document.querySelector('ul').insertAdjacentHTML('beforeend', aaa);

     });
  })
  .catch(error => console.log(error));

</script>












  <script src="../static/js/main.js"></script>
  <script src="../static/js/bootstrap.bundle.min.js"></script> 


</body>
</html>