@import "./scss/components/button";
@import "./scss/components/input";

/* Add-ons */
html {
    margin-right: calc(-1 * (100vw - 100%));
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    width: 95%;
    box-sizing: border-box;
}

/* Кастомизация скроллбара в Chrome */
*::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track{
    background-color: var(--gray-200);
    border-radius: 15px;
}


*::-webkit-scrollbar-thumb{
    background-color: var(--gray-400);
    border-radius: 15px;
}

/* 
    Font weight      usWeightClass
    Regular          400
    Medium           500
    SemiBold         600
    Bold             700
*/

/* fonts */
@font-face {
    font-family: 'Inter';
    font-weight: 700;
    src: local('Inter'),
        url('./fonts/Inter/Inter-Bold.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 500;
    src: local('Inter'),
        url('./fonts/Inter/Inter-Medium.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: local('Inter'),
        url('./fonts/Inter/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Helvetica Neue';
    font-weight: 700;
    src: local('HelveticaNeue'),
        url('./fonts/HelveticaNeue/HelveticaNeueCyr-Bold.ttf');
}

@font-face {
    font-family: 'Helvetica Neue';
    font-weight: 500;
    src: local('HelveticaNeue'),
        url('./fonts/HelveticaNeue/HelveticaNeueCyr-Medium.ttf');
}

@font-face {
    font-family: 'Helvetica Neue';
    font-weight: 400;
    src: local('HelveticaNeue'),
        url('./fonts/HelveticaNeue/HelveticaNeueCyr-Roman.ttf');
}

/* constants */

:root {
    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;

    --green: #28a745;
    --purple: #7745F9;
    --blue: #0d6efd;
    --red: #dc3545;

    --status-success: #28a745;
    --status-danger: #dc3545;
    --status-warning: #ffc107;
    --status-info: #17a2b8;

    --margin-index: 2px;
}

.no-select{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* typography */
.text {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--gray-900);
}

.text-18 {
    font-size: 18px;
}

.text_type_small {
    font-size: 12px;
    font-weight: 400
}

.text_type_main {
    font-size: 20px;
    font-weight: 700;
}

.text_type_average {
    font-size: 26px;
    font-weight: 700;
}

.text_type_large {
    font-size: 40px;
    font-weight: 700;
    color: var(--gray-800);
}

.text_sing_in {
    font-weight: 400;
    font-size: 24px;
}

.text_color_inactive {
    font-weight: 400;
    color: var(--gray-500);
}

.text_log {
    font-family: 'Helvetica Neue';
    font-weight: 400;
    color: var(--gray-600);
    font-size: 16px;
}

.fw-r {
    font-weight: 400;
}

.fw-m {
    font-weight: 500;
}

.fw-b {
    font-weight: 700;
}

.editable {
    cursor: text;
}

/* button */

// .button {
//     font-family: Inter, sans-serif;
//     padding: 10px 15px;
//     cursor: pointer;
//     border: none;
//     border-radius: 6px;
//     color: #fff;
// }

// .btn-outlined {
//     color: black;
// }

// .btn-green {
//     background-color: var(--green);
// }

// .btn-blue {
//     background-color: var(--blue);
// }

// .btn-purple {
//     background-color: var(--purple);
// }

// .btn-red {
//     background-color: var(--red)
// }

// .btn-grey {
//     background-color: var(--gray-500);
// }

// .btn-inactive {
//     background-color: var(--gray-400);
//     cursor: not-allowed;
// }

.btn-circle {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* OPC-UA general styles*/

.opc-input {
    width: 400px;
    height: 40px;
    border: 1px solid var(--gray-500);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    padding: 0 10px;
    color: var(--gray-600);
}

.opc-input-right-slice{
    width: 360px;
    height: 40px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    padding: 0 10px;
    color: var(--gray-600); 
    border: 1px solid var(--gray-500);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}

.opc-button-left-slice{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--gray-500);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}

.slice-green{
    background-color: var(--status-success);
}

.slice-red{
    background-color: var(--red);
}

.opc-input-file {
    display: none;
}

.opc-uload-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 400px;
}

.opc-label-upload {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 10px 15px;
    border: 1px solid var(--gray-500);
    font-size: 16px;
    color: var(--gray-600);
    cursor: pointer;
    border-radius: 10px;
}

.opc-textarea{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--gray-500);
    resize: vertical;
    min-height: 40px;
    height:100px ;

}

.label-required-symbol {
    position: relative;
}

.label-required-symbol::before{
    content: '*';
    position: absolute;
    top: -4px;
    left: -14px;
    color: var(--red);
}

/* inputs profile editor */

.input{
    width: 85%;
    border: 1px solid var(--gray-400);
    outline: none;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: transparent;
}

.input_type_text {
    width: 85%;
    border: 1px solid transparent;
    outline: none;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: transparent;
}

.input_type_text:focus{
    border: 1px solid rgb(136, 201, 255);
    -webkit-box-shadow: 0px 0px 10px -5px rgb(136, 201, 255);
    -moz-box-shadow: 0px 0px 10px -5px rgb(136, 201, 255);
    box-shadow: 0px 0px 10px -5px rgb(136, 201, 255);
}

/* margin */

.mt-2 {
    margin-top: calc(2 * var(--margin-index))
}

.mt-4 {
    margin-top: calc(4 * var(--margin-index))
}

.mt-6 {
    margin-top: calc(6 * var(--margin-index))
}

.mt-8 {
    margin-top: calc(8 * var(--margin-index))
}

.mt-10 {
    margin-top: calc(10 * var(--margin-index))
}

.mt-20 {
    margin-top: calc(20 * var(--margin-index))
}

.mt-30 {
    margin-top: calc(30 * var(--margin-index))
}

.mt-40 {
    margin-top: calc(40 * var(--margin-index))
}

.mb-2 {
    margin-bottom: calc(2 * var(--margin-index))
}

.mb-4 {
    margin-bottom: calc(4 * var(--margin-index))
}

.mb-6 {
    margin-bottom: calc(6 * var(--margin-index))
}

.mb-8 {
    margin-bottom: calc(8 * var(--margin-index))
}

.mb-10 {
    margin-bottom: calc(10 * var(--margin-index))
}

.mb-20 {
    margin-bottom: calc(20 * var(--margin-index))
}

.mb-30 {
    margin-bottom: calc(30 * var(--margin-index))
}

.mb-40 {
    margin-bottom: calc(40 * var(--margin-index))
}

.mr-2 {
    margin-right: calc(2 * var(--margin-index))
}

.mr-4 {
    margin-right: calc(4 * var(--margin-index))
}

.mr-6 {
    margin-right: calc(6 * var(--margin-index))
}

.mr-8 {
    margin-right: calc(8 * var(--margin-index))
}

.mr-10 {
    margin-right: calc(10 * var(--margin-index))
}

.mr-20 {
    margin-right: calc(20 * var(--margin-index))
}

.mr-30 {
    margin-right: calc(30 * var(--margin-index))
}

.mr-40 {
    margin-right: calc(40 * var(--margin-index))
}

.mr-auto {
    margin-right: auto;
}

.ml-2 {
    margin-left: calc(2 * var(--margin-index))
}

.ml-4 {
    margin-left: calc(4 * var(--margin-index))
}

.ml-6 {
    margin-left: calc(6 * var(--margin-index))
}

.ml-8 {
    margin-left: calc(8 * var(--margin-index))
}

.ml-10 {
    margin-left: calc(10 * var(--margin-index))
}

.ml-20 {
    margin-left: calc(20 * var(--margin-index))
}

.ml-30 {
    margin-left: calc(30 * var(--margin-index))
}

.ml-40 {
    margin-left: calc(40 * var(--margin-index))
}

.ml-auto {
    margin-left: auto;
}

/* Переопределение Antd-Design стилей */
/* Исправление отсутсвсия props'а для Drawer - невозможность позиционировать кнопку справа */
.ant-drawer-header-title {
    flex-direction: row-reverse;
}

.ant-drawer-header-title>button {
    margin-right: 0;
}