/* Add-ons */
html {margin-right: calc(-1 * (100vw - 100%));}

.wrapper{
    max-width: 1280px;
    margin: 0 auto;
    width: 95%;
}

/* fonts */
@font-face {
    font-family: 'Inter';
    font-weight: 700;
    src: url('./fonts/Inter/Inter-Bold.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('./fonts/Inter/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Helvetica Neue';
    font-weight: 700;
    src: url('./fonts/HelveticaNeue/HelveticaNeueCyr-Bold.ttf');
}

@font-face {
    font-family: 'Helvetica Neue';
    font-weight: 500;
    src: url('./fonts/HelveticaNeue/HelveticaNeueCyr-Medium.ttf');
}

@font-face {
    font-family: 'Helvetica Neue';
    font-weight: 400;
    src: url('./fonts/HelveticaNeue/HelveticaNeueCyr-Roman.ttf');
}

/* constants */

:root{
    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;

    --purple: #7745F9;
    --blue: #0d6efd;
    --red: #dc3545;

    --status-success: #28a745;
    --status-danger: #dc3545;
    --status-warning: #ffc107;
    --status-info: #17a2b8;

    --margin-index: 2px;
}

/* typography */
.text{
   font-family: Inter, sans-serif; 
   font-size: 16px;
   font-weight: 400;
   color: var(--gray-900);
}

.text_type_main{
    font-size: 20px;
    font-weight: 700;
}

.text_sing_in{
    font-weight: 400;
    font-size: 24px;
}

.text_type_large{
    font-size: 40px;
    font-weight: 700;
    color: var(--gray-800);
}

.text_color_inactive{
    font-weight: 400;
    color: var(--gray-500);
}

.text_log{
    font-family: 'Helvetica Neue';
    font-weight: 400;
    color: var(--gray-600);
    font-size: 16px;
}

.editable{
    cursor: text;
}

/* button */

.button{
    font-family: Inter, sans-serif;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    color: #fff;
}

.btn-outlined{color: black;}
.btn-green{background-color: var(--status-success);}
.btn-blue{background-color: var(--blue);}
.btn-purple{background-color: var(--purple);}
.btn-red{background-color: var(--red)}
.btn-grey{background-color: var(--gray-800);}
.btn-inactive{background-color: var(--gray-500)}


/* margin */

.mt-2{margin-top: calc(2 * var(--margin-index))}
.mt-4{margin-top: calc(4 * var(--margin-index))}
.mt-6{margin-top: calc(6 * var(--margin-index))}
.mt-8{margin-top: calc(8 * var(--margin-index))}
.mt-10{margin-top: calc(10 * var(--margin-index))}
.mt-20{margin-top: calc(20 * var(--margin-index))}
.mt-30{margin-top: calc(30 * var(--margin-index))}
.mt-40{margin-top: calc(40 * var(--margin-index))}

.mb-2{margin-bottom: calc(2 * var(--margin-index))}
.mb-4{margin-bottom: calc(4 * var(--margin-index))}
.mb-6{margin-bottom: calc(6 * var(--margin-index))}
.mb-8{margin-bottom: calc(8 * var(--margin-index))}
.mb-10{margin-bottom: calc(10 * var(--margin-index))}
.mb-20{margin-bottom: calc(20 * var(--margin-index))}
.mb-30{margin-bottom: calc(30 * var(--margin-index))}
.mb-40{margin-bottom: calc(40 * var(--margin-index))}

.mr-2{margin-right: calc(2 * var(--margin-index))}
.mr-4{margin-right: calc(4 * var(--margin-index))}
.mr-6{margin-right: calc(6 * var(--margin-index))}
.mr-8{margin-right: calc(8 * var(--margin-index))}
.mr-10{margin-right: calc(10 * var(--margin-index))}
.mr-20{margin-right: calc(20 * var(--margin-index))}
.mr-30{margin-right: calc(30 * var(--margin-index))}
.mr-40{margin-right: calc(40 * var(--margin-index))}
.mr-auto{margin-right: auto;}

.ml-2{margin-left: calc(2 * var(--margin-index))}
.ml-4{margin-left: calc(4 * var(--margin-index))}
.ml-6{margin-left: calc(6 * var(--margin-index))}
.ml-8{margin-left: calc(8 * var(--margin-index))}
.ml-10{margin-left: calc(10 * var(--margin-index))}
.ml-20{margin-left: calc(20 * var(--margin-index))}
.ml-30{margin-left: calc(30 * var(--margin-index))}
.ml-40{margin-left: calc(40 * var(--margin-index))}
.ml-auto{margin-left: auto;}