
/* fonts */
@font-face {
    font-family: 'Inter';
    font-weight: 700;
    src: url('./fonts/Inter/Inter-Bold.ttf');
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('./fonts/Inter/Inter-Regular.ttf');
}
@font-face {
    font-family: 'Interr';
    font-weight: 400;
    src: url('./fonts/Inter/Sixtyfour-Regular.ttf');
}

/* constants */

:root{
    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #6c757d;
    --gray-700: #495057;
    --gray-800: #343a40;
    --gray-900: #212529;

    --purple: #7745F9;
    --blue: #0d6efd;
    --red: #dc3545;

    --status-success: #28a745;
    --status-danger: #dc3545;
    --status-warning: #ffc107;
    --status-info: #17a2b8;
}

/* typography */
.text{
   font-family: Inter, sans-serif; 
   font-size: 16px;
   font-weight: 400;
   color: var(--gray-900);
}

.text_type_main{
    font-size: 20px;
    font-weight: 700;
}

.text_type_large{
    font-size: 40px;
    font-weight: 700;
    color: var(--gray-800);
}

.text_color_inactive{
    font-weight: 400;
    color: var(--gray-500);
}

/* button */

.button{
    font-family: Inter, sans-serif;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    color: #fff;
}

.btn-green{background-color: var(--status-success);}
.btn-blue{background-color: var(--blue);}
.btn-purple{background-color: var(--purple);}
.btn-red{background-color: var(--red)}
.btn-grey{background-color: var(--gray-800);}





/*  */

.wrapper{
    max-width: 1280px;
    margin: 0 auto;
}