
$layout-width: 1280px;
$layout-external-indentation: 40px;

$layout-min-width: 1024px;

$header-upline-height: 40px;
$header-body-height: 145px;
$header-summary-height: calc($header-upline-height + $header-body-height);

$opcua-server-width: 760px;

$footer-height: 76px;